[submodule "extern/Elegy.Veldrid"]
	path = extern/Elegy.Veldrid
	url = https://github.com/Admer456/veldrid.git
[submodule "extern/fennecs"]
	path = extern/fennecs
	url = https://github.com/Admer456/fennecs.git
[submodule "extern/bepuphysics2"]
	path = extern/bepuphysics2
	url = https://github.com/ElegyEngine/bepuphysics2.git
