
# DLLs and related
*.dll
*.so
*.a
*.dylib
*.pdb
*.exe
*.runtimeconfig.json
*.deps.json

# Elegy documentation
Elegy*.xml
Veldrid.xml


# Generated shaders
*/shaders/bin/
*/shaders/generated/
