
# DLLs and related
*.dll
*.so
*.a
*.dylib
*.pdb
*.exe
*.runtimeconfig.json
*.deps.json

# Elegy documentation
Elegy.Common.xml
Elegy.Engine.xml
Veldrid.xml

# Generated shaders
*/shaders/bin/
*/shaders/generated/
